@mixin catalog-btn {
    text-decoration: none;
    background-color: var(--main-text-color);
    color: var(--main-black-color);
    border: 1px solid var(--main-black-color);
    box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(21px);
    text-transform: uppercase;
    width: rem(291px);
    height: rem(45.39px);
    @include dflex;
    transition: all 0.2s ease-in-out;

    img{
        padding-right: 8px;
        filter: var(--svg-black-color);
        transition: all 0.2s ease-in-out;
    }

    &:hover{
        color: var(--main-text-color);
        background-color: var(--main-black-color);
        border: 1px solid var(--main-text-color);  

        img {
            filter: var(--svg-white-color);
        }
    }
}