.kob {
    &-header-login {
        display: flex;
        cursor: pointer;

        .dropdown-toggle{

            &::after {
                display: none;
            }
        }

        .dropdown-menu {
           padding: 0;
           left: 19px !important;
           
           div {
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                padding: 0;
                text-align: center;
            }
           }
        }

        .arrow-up {
            left: 52px;

            @media only screen and (max-width: 1300px){
                left: 40px;
            }
            @media only screen and (max-width: 1050px){
                left: 32px;
            }
        }
    }
    
    &-header-login-text {
        padding-left: 5px;
        font-weight: 600;
        white-space: nowrap;
    }
}