@import '../../components/downloadSingle';

@mixin historypage--download {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(39px);

    >h3{
        font-size: rem(42px) !important;
        line-height: rem(60px) !important;
        margin-bottom: rem(36px) !important;
    }

    >.line-border {
        padding: rem(26px) rem(23px) rem(23px) rem(12px) !important;
        border-bottom: 1px solid var(--history-border);

        &:last-child {
            border-bottom: none;
        }

        @include donwload-single;
    }
}