.loginpage{
    padding-bottom: 45px !important;

    &:nth-last-child(1){
        >a{
            &:nth-last-child(1){
                margin-top: 30px;
            }

            @media only screen and (max-width: 767px){
                margin-top: 20px;

                &:nth-last-child(1){
                    margin-top: 20px;
                }
            }
        }

        @media only screen and (max-width: 767px){
            height: auto !important;
        }
    }

    
}

.login-lostpass{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;

    >a {
        width: auto !important;
        height: auto !important;
        @include clear-link(var(--secondary-black-color));

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        text-decoration-line: underline;
        white-space: nowrap;
        border: none;

        margin-top: 13px;


        &:hover{
            border: none;
            letter-spacing: normal;
        }
    }
}