@mixin moreAccordion {
    // MORE BUTTON STYLE
    display: flex;
    flex-direction: column;
    >.btn {
        color: var(--main-black-color) !important;
        background: transparent !important;
        order: 3;
        font-style: normal;
        font-weight: bold;
        font-size: rem(14px);
        line-height: rem(17px);
        text-align: left;
        padding-left: 16px !important;

        &:hover {
            text-decoration-line: underline;
        }

        @include mobile-screen {
            font-size: 14px;
            line-height: 17px;
        }
        
    }

    // DROP CONTENT
    >.row {
        order: 2;
        // removing body padding
        .multi-collapse {
            >.card {
                padding: 0 !important;
                border: none !important;
            }
        } 

        .accordion {
            flex-direction: column;
            align-items: flex-start;

            >.card {
                width: 100%;
                
                // STYLES FOR CATALOG DROPDOWN ITEM inside more button
                button {
                    display: flex !important;
                    align-items: center !important;
                    justify-content: space-between !important;
                    width: 100% !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    padding-right: 7px !important;
                    background: transparent !important;
        
                    >div{
                        display: flex !important;
                        align-items: center !important;
                        justify-content: flex-start !important;
                        margin-left: 10px !important;
    
                        p {
                            font-style: normal;
                            font-weight: 500 !important;
                            font-size: rem(16px) !important;
                            line-height: rem(36px) !important;
                            color: #4F4F4F !important;
                            margin-right: 10px !important;

                            @include mobile-screen {
                                font-size: 16px !important;
                                line-height: 36px !important;
                            }
                        }
                    }
            
                    p {
                        font-style: normal;
                        font-weight: 500 !important;
                        font-size: rem(16px) !important;
                        line-height: rem(36px) !important;
                        color: #4F4F4F !important;
                        margin-right: 10px !important;

                        @include mobile-screen {
                            font-size: 16px !important;
                            line-height: 36px !important;
                        }
                    }
                }
            }
        }
    }
}