@import '../../../../templates/buttons/toProductBtn';

.blog---item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    margin-bottom: rem(28px);

    >p {
        &:nth-child(2){
            font-style: normal !important;
            font-weight: bold !important;
            font-size: rem(28.5874px) !important;
            line-height: rem(31px) !important;
            margin-top: rem(24.28px) !important;
        }

        &:nth-child(3){
            font-style: normal !important;
            font-weight: normal !important;
            font-size: rem(19.0582px) !important;
            line-height: rem(24px) !important;
            margin-top: rem(22.54px) !important;
        }               
    }
    // BUTTON TO READ
    a{
      @include product-btn;  
      font-size: 16px;
      line-height: 19px;
      margin-top: rem(24px);
    }
    // CALENDAR and COMMENTS
    >div {
        position: relative;
        z-index: 0;
        width: 100%;
        >img{
            max-width: 100%;
            width: 100%;
            height: auto;

        }

        span {
            position: absolute;
            bottom: -1px;
            left: -1px;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--main-text-color) !important; 
            padding: 15px 12px 13px 11px;
            
            p {
                font-style: normal;
                font-weight: 600;
                font-size: rem(16.676px);
                line-height: rem(20px);
                text-transform: lowercase;
                color: #6F6F6F;
                margin: 0 8px !important;
                margin-right: 0 !important;

                &:nth-child(2){
                    padding-right: 12px !important;
                    border-right: 1px solid #6F6F6F !important;
                }

            }

            img {
                &:nth-child(3){
                    margin-left: 12px !important;
                }
            }
        }
    }
}

.blog--bigitem{
        // CALENDAR and COMMENTS
            position: relative;
            z-index: 0;
            width: 100%;
            >img{
                max-width: 100%;
                max-height: rem(522.14px);
                width: 100%;
                height: auto;
            }
    
            span {
                position: absolute;
                bottom: 0px;
                left: rem(261px);

                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--main-text-color) !important; 

                padding: 15px 12px 13px 11px;

                @media only screen and (max-width: 1700px){
                    left: rem(55px);
                }
            
                @media only screen and (max-width: 1500px){
                    left: rem(20px);
                }
            
                @include small-screen {
                    left: 2%;
                }
                
                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: rem(16.676px);
                    line-height: rem(20px);
                    text-transform: lowercase;
                    color: #6F6F6F;
                    margin: 0 8px !important;
                    margin-right: 0 !important;
    
                    &:nth-child(2){
                        padding-right: 12px !important;
                        border-right: 1px solid #6F6F6F !important;
                    }
    
                }
    
                img {
                    &:nth-child(3){
                        margin-left: 12px !important;
                    }
                }
            }
  
}
