.si-float-wrapper {
    background-color: transparent !important;
    position: absolute;
    top: 57px !important;
    left: 0;

    transform: translateX(-50%);

    .si-close-button {
        display: none;
    }

    .si-content{
        white-space: wrap;

        @include medium-screen {
            max-width: 250px !important;
        }

        @include mobile-screen {
            margin-top: 279px;
        }
    }

    .my-custom-class-for-label{
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        color: var(--main-black-color);
        white-space: wrap;
    }
}