@mixin catalogpage----pagination {
    @include dflex;
    margin-top: rem(42px);

    >nav {
        width: 100%;
        ul {
            margin-bottom: 0 !important;
            @include dflex;

            a{
                &:focus{
                    box-shadow: none !important;
                }
            }
            
            .page-item{
                outline: 0 !important;
            }

            >li{

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6){                              
                    margin-right: 9.1px;

                    a{
                        width: rem(45px);
                        height: rem(45px);  
                        border: none;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #4C4C4C;
                        border: 1px solid #DADADA;
                        @include dflex;
                    }
                }

                // prev i sled 
                &:first-child,
                &:last-child {
                    @include dflex;
                    a{
                        border: none;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #4C4C4C;
                    }

                    img {
                        margin: 0 9px 3px 9px;
                    }
                }

                // 1st element's margin
                &:first-child{
                    margin-right: 9.1px;
                }

            }
            >.active {
                a{
                    background: #F5F5F5 !important;
                }
            }

            .disabled{
                a{
                    color:#949797 !important;
                }

                img {
                    filter: invert(68%) sepia(6%) saturate(106%) hue-rotate(131deg) brightness(87%) contrast(91%) !important;
                }
            }
        }
    }
    
}