@import '../../../../utilities/functions';
@import '../../../../utilities/mixins';
@import '../../../../components/body/landing/arrowLeftBtn';
@import '../../../../components/body/landing/carouselNav';

.landing-novinki-wrap-mobile {
    display: none;
    margin-top: 26px;
    @include mobile-ultrasmall {
        display: flex;
        flex-direction: column;
        h3 {
            font-style: normal !important;
            font-weight: bold !important;
            font-size: 36px !important;
            line-height: 143.2% !important;
            text-align: center !important;
            text-transform: uppercase !important;    
        }

        @include carousel-nav-circles;

        >.owl-carousel {
                .owl-item{
                    img {
                        width: auto !important;
                    }
                } 
                
            width: 100%;
            @for $i from 1 through 4 {
                .item:nth-of-type(#{$i}){
                    @include bg(#FFFFFF url(/styles/layout/body/landing/images/novinki/#{$i}.png), 226.74px 183.1px, top 34px center);
                }
            } 
    
            .item{
                height: 344.81px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;          
                    >p{
                        font-style: normal !important;
                        font-weight: 600 !important;
                        font-size: 15.4011px !important;
                        line-height: 21px !important;                       
                        text-align: center !important;
                        padding: 0 34px !important;
                    }
        
                    >div{
                        width: 100%;
                        height: 55px;
                        margin-top: rem(33px) !important;
                        border-top: 1px solid #E9E9E9;
                        border-bottom: 1px solid #E9E9E9;
                        z-index: 0;
        
                        p{
                            &:first-child{
                                font-style: normal;
                                font-weight: bold;
                                font-size: 18.8235px;
                                line-height: 27px;                               
                                text-align: center;
                            }
                            &:last-child{
                                font-style: normal;
                                font-weight: normal;
                                font-size: 11.9786px;
                                line-height: 14px;                  
                                text-align: center;
                                text-transform: capitalize !important;
                                color: #ADA7A7;
                            }
                        }
                    }
                    // INCLUDE ARROW BUTTON
                    
                    position: relative;
                        a {
                            position: absolute;
                            @include dflex;
                            width: 53.05px;
                            height: 55.61px;
                            min-width: 53.05px;
                            min-height: 55.61px;
                            background-color: var(--main-text-color);
                            right: 0;
                            bottom: 0;
                            transition: all 0.3s ease-in-out;
                        }
                
                    a{
                        z-index: 10;
                        background-color: #E9E9E9;
                    }
        
                    &:hover{
                        a{
                            background-color: var(--main-black-color);
                            img{
                                filter: var(--svg-white-color);
                            }
                        }
                    }
                    &:nth-child(2){
                        p {
                            color: var(--main-text-color);
                        }
            
                        div {
                            border: none;
                            background-color: #232323;
                        }
                    }
            }
        }
    }
}