.shoppingcart--name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(-40px);
    margin-top: rem(30px);

    >p{
        font-style: normal;
        font-weight: bold;
        font-size: rem(24px);
        line-height: rem(34px);      
        text-transform: uppercase; 
        color: var(--secondary-black-color);      
    }

    >div{
        display: flex;

        >img{
            margin-right: 8px;
        }

        >p{
            font-style: normal;
            font-weight: 600;
            font-size: rem(16.676px);
            line-height: rem(20px);          
            text-transform: lowercase;  
            
            color: var(--product-gray-color);   
        }
    }
}