@mixin cart-input-gray {
    >p{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: var(--product-gray-color);        

        padding-left: 10px;
    }

    >input{
        width: 100%;
        height: rem(45.39px);
        border: 1px solid var(--cart-border);
        color: var(--secondary-black-color);

        font-style: normal;
        font-weight: 500;
        font-size: rem(21.7417px);
        line-height: rem(30px);
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;

        &:focus{
            outline: none;     
            border: 1px solid var(--secondary-black-color);   
        }
    }

}